h1,h2,h3,h4,h5,h6,ul,ol{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
input,textarea,select,button{
    outline: none !important;
}

a,
a:hover{
    text-decoration: none;
}

body{
    font-family: 'Open Sans';
    background: #fff;
    font-weight: 400;
}

section{
    padding-top: 100px;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    color: #ed4f2e;
    margin-bottom: 21px;
}

.subtitle{
    max-width: 550px;
    margin: 0 auto 145px;
    text-align: center;
    font-size: 14px;
    color: #1f2c33;
    line-height: 20px;
    position: relative;
}

.subtitle::after{
    content: "";
    position: absolute;
    width: 134px;
    height: 1px;
    background: #d7d7d7;
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
}

.navbar{
    padding: 35px 0;
    background: none !important;
}

.navbar-brand{
    margin: 0;
    padding: 0;
}

.navbar .nav-link{
    text-transform: uppercase;
    padding: 10px 16px !important;
    font-size: 14px;
    color: #1f2c33 !important;
    border-radius: 5px;
}

.navbar .nav-link:hover,
.navbar .active .nav-link{
    background: #ed4f2e;
    color: #fff !important;
}

header{
    background: url('../images/header_bg.jpg') no-repeat center center / cover;
    padding: 280px 0 260px;
    text-align: center;
    color: #fff;
}

h1{
    max-width: 920px;
    margin: 0 auto 29px;
    font-size: 50px;
    line-height: 64px;
}

header p{
    max-width: 560px;
    margin: 0 auto 36px;
    font-size: 14px;
    line-height: 25px;
}

header a{
    padding: 20px 49px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    transition: 0.4s;
}

header a:hover{
    background: #fff;
    color: #ed4f2e;
}

.services .fa{
    font-size: 60px;
    color: #000;
}

.services h3{
    font-size: 25px;
    color: #1f2c33;
    margin: 19px 0 12px;
    transition: 0.4s;
}

.services .col-xl-4 p{
    font-size: 14px;
    color: #4f4f4f;
    line-height: 21px;
}

.services .col-xl-4:hover h3{
    color: #ed4f2e;
}

.services .col-xl-4{
    margin-bottom: 100px;
}

.pricing{
    padding-top: 0;
}
.pricing-card{
    border: 1px solid #ededed;
    padding: 31px 0 55px;
    transition: 0.3s;
}
.plan {
    font-weight: 600;
    font-size: 24px;
    color: #1f2c33;
    padding-bottom: 32px; 
}
.price {
    background: #ebebeb;
    padding: 27px 0;
    font-weight: 600;
    font-size: 45px;
    color: #1f2c33;
    transition: 0.3s;
}
.price span {
    font-weight: 400;
    font-size: 24px;
}
.pricing-card ul{
   margin: 55px 0; 
   font-size: 14px;
   color: #4f4f4f;
   line-height: 31px;
}
.pricing-card a{
    padding: 11px 24px;
    display: inline-block;
    color: #fff;
    background: #ed4f2e;
    border-radius: 5px;
    font-size: 14px;
}
.pricing-card:hover{
    border-color: #ed4f2e;
    
}
.pricing-card:hover .price{
    color: #fff;
    background: #ed4f2e;
    
}
.projects .col-xl-4{
    margin-bottom: 30px;
}
.contact .col-xl-6 input,
.contact textarea{
    width: 100%;
    height: 74px;
    padding-left: 19px;
    border-radius: 9px;
    border: 1px solid #ccc;
    font-weight: 300;
    color: #1f2c33;
    font-size: 14px;
    
}
.contact .col-xl-6 input::placeholder{
    color: #1f2c33;
}
.contact .col-xl-6{
    margin-bottom: 30px;
}
.contact textarea{
    height: 293px;
    padding-top: 26px;
    resize: none;
    margin-bottom: 30px;
}
.contact .col-xl-12 input{
    width: 136px;
    height: 40px;
    background: #ed4f2e;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.contact{
    padding-bottom: 100px;
}
footer{
    padding: 88px 0;
    background: #1f2c33;
    
}
footer h5{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 33px;
}
footer .logo{
    margin-bottom: 13px;
    display: inline-block;
}
footer p{
    font-size: 14px;
    color: #d7d7d7;
    line-height: 22px;
}
address{
    margin-top: 23px;
}
address a{
    font-size: 14px;
    color: #d7d7d7;
    line-height: 22px;
}
address .fa{
    width: 15px;
}